[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
[requires]
python_version = "3.6"
[packages]

sklearn = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
jupyter = "*"
pandas = "*"
pillow = "*"
pipenv = "*"
